body {

	background-image:url('images/background.jpg');
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color:  rgb(255, 255, 255); 
	justify-content:space-around;
	list-style-type:none;
	text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	align-items: center;
}

header
{
	align-items: left;
	background: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1366px;
	height: 350px;
	text-align: left;
}

nav
{
	background:none;
	position: absolute;
	top: 100px;
	left: 0px;
	width: 300px;
	height: 500px;
	text-align: center;
}

aside
{
	background:none;
	position: absolute;
	top: 100px;
	left: 1050px;
	width: 200px;
	height: 500px;
	text-align: center;
}

#canvas{
	border-radius: 8px;
	box-shadow: 0 0px 3px 1px #b4b5b6;
}

#gameSettings{
	position: absolute;
	top: 70px;
	background: rgba(250, 250, 250, 0.6);
	border-radius: 8px;
	box-shadow: 0 0px 3px 1px #b4b5b6;
	text-align: center;
}

.display
{
	background: #fff;
	position: absolute;
	top: 150px;
	left: 430px;
	width: 500px;
	height: 500px;
	text-align: center;
}

content{
	top: 100px;
	left: 650px;
	width: 1000px;
	height: 50px;
}

footer
{
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	top: 689px;
	width: 1366px;
	height: 80px;
	text-align: center;
	color: rgb(255, 145, 145);
}

#settingsForm{
	font-size: 13px;
}

.menuButton{
	text-align: center;
	position: absolute;
	left: 250px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100px; 
	height: 30px; 
	border: 1px solid rgb(255, 126, 126);
	border-radius: 5px;
	background-color: white;
	color:rgb(255, 126, 126);;
	padding: 6px 14px;
	cursor: pointer;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.menuButton:hover {
	box-shadow: 0 5px 10px 0 rgba(110, 110, 110, 0.24);
  }

.musicButton {
    display: block;
    text-align:center;
	position: center;
    top: 20px;
	height: 20px;
	width: 20px;
	margin-left: 5px;
	background: url(images/music-icon1.jpg);
}
#musicBtn img {
	display: block;
	height: 17px;
	width: 17px;
}

.aboutClick{
	position: absolute;
	top: 1px;
	right: 3px;
}

.settingsLable{
	text-align:center;
	background: none;
	outline: none;
	border-width:0px;
	border:none;
	color: rgb(104, 103, 103);
	width: 40px; 
}

#lblUserName{
	text-align:center;
	background: none;
	outline: none;
	border-width:0px;
	border:none;
	color: rgb(0, 0, 0);
	font-size: 20px;
}

.modal {
	display: none;
	position: fixed; 
	padding-top: 50px;
	left: 50px; 
	top: 200px;
	width: 400px;
	height: 200px; 
	background-color: black(0,0,0, 1);
	color: black;
	justify-content: center;
	align-items: center;
	border-width: 4px;
	border-color: black;
  }
   
  .modal-content {
	position: center; 
	background-color:#FFA07A(0,0,0, 1);
	padding: 20px; 
	margin: auto; 
	top: 20px;
	height: 100px;
	width: 75%;  
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	border-radius: 4px;
	text-align: center;
	align-items: center;
  }
  .close-btn {
	float: right; 
	color: lightgray; 
	font-size: 24px;  
	font-weight: bold;
	top: 3px;
	right: 10px;
	height: 5px;
	width: 10px;
	position: absolute;
  }
  .close-btn:hover {
	color: darkgray;
  }

  #logoImage{
	position: absolute;
	top: 30px;
	left:403px;
	height: 100px;
	width: 550px;
	
  }

  #randomSettings{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-right: 20px;
	border-radius: 5px;
	border-width: 1px; 
	border-color: rgb(197, 183, 166);
	border: 1px solid rgb(136, 190, 123);
	border-radius: 5px;
	background-color: white;
	color: black;
	padding: 6px 14px;
	cursor: pointer;
  }

  #randomSettings:hover{
	box-shadow: 0 5px 10px 0 rgba(110, 110, 110, 0.24);
  }

  .submit{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;  
	margin-right: 20px;
	border-radius: 5px;
	border-width: 1px; 
	border-color: rgb(197, 183, 166);
	border: 1px solid rgb(136, 175, 197);
	border-radius: 5px;
	background-color: white;
	color: black;
	padding: 6px 14px;
	cursor: pointer;
  }

  .submit:hover{
	box-shadow: 0 5px 10px 0 rgba(110, 110, 110, 0.24);
  }

  .ball{
	  height: 25px;
	  width: 25px;
  }

  .welcomeButton{
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;  
		border-radius: 5px;
		border-width: 1px; 
		border-color: rgb(197, 183, 166);
		border: 1px solid rgb(247, 186, 136);
		border-radius: 5px;
		background-color: white;
		color: black;
		padding: 6px 14px;
		cursor: pointer;
		color: rgb(247, 186, 136);
  }

  .welcomeButton:hover{
	box-shadow: 0 5px 10px 0 rgba(110, 110, 110, 0.24);
  }

  #welcome{
	  color:  rgb(247, 186, 136);
	  font-size: 30px;
  }
